
<div class="panel panel-primary" >
    <div class="panel-heading">
        {{ getPageTitle() }}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">filter by type:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='carListFilter' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>filtered by type: {{ carListFilter }}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf='cars && cars.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='toggleImage()'>
                                {{imageVisibility() ? 'hide ' : 'show '}}images
                            </button>
                        </th>
                        <th>registration no</th>
                        <th>cars</th>
                        <th>color</th>
                        <th>serviceability</th>
                        <th>hourly rate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let a of cars | carFilter:carListFilter'>
                        <th>
                            <img *ngIf='imageVisibility()' [src]='a.imageUrl' [title]='a.registration_no' [style.width.px]='getImageWidth()' [style.margin.px]='getImageMargins()'>
                        </th>
                        <th>{{ a.registration_no }}</th>
                        <th>{{ a.type }}</th>
                        <th>{{ a.color }}</th>
                        <th>
                            <app-check [serviceability]='a.serviceability' (carAvailability)='onServiceabilityClicked($event)'></app-check>
                        </th>
                        <th>{{ a.hourly_rate | currency:'GBP':true:'1.2-2' }}</th>
                        <th><a [routerLink]="['/caredit',a.carId]"><button (click)='onEdit($event)'>Edit</button></a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

